body {
    background-color: #FFE6F7;
}

hr {
    /*que no alla borde */
    border-style: none;
    /*solo borde superior*/
    border-top-style: dotted;
    /*coloe del borde */
    border-color: gray;
    /*ancho de del borde*/
    border-width: 5px;
    /*porcentaje en la cual se mantien el ancho del borde*/
    width: 5%;
}

img {
    width: 100px;
}

.nav li a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    text-decoration: none;
    padding: 30px 10px;
    display: block;
}

ul,
ol {
    list-style: none;
}

.nav>li {
     
    float: left;
}

.nav :hover {
    background-color: rgb(211, 213, 233);
    color: rgb(218, 24, 218);
    border-radius: 30px;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 10px;
}

.nav li:hover>ul {
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px;
}

ul,
ol {
    list-style: none;
}

.nav li ul li {
    position: relative;
}

h1{color: #66bfbf;}
h3{ color: #66bfbf;}